.widget
  h3.section-title.first-title.more-margin
    i.icon-tasks
    | {{ goal.title }}

  .subgoal(ng-repeat='subgoal in goal.subgoals')
    h4
      span(editable='subgoal.title')
    .row
      .col-md-8
        slider
      .col-md-2
        input.amount(ng-model='subgoal.current')
      .col-md-2
        p.measure {{ subgoal.measurement }}
