.goals {
  h1 {
    margin-top: 0;
  }

  goal {

    h3 { 
      color: $color1
    }
    
    slider {
    
      input.amount {
        width: 100%;
      }
    }
  }
}

section {
  background: $color3;
  border-radius: 5px;
  padding: 20px inherit;
  margin-top: 20px;
}
