.goals {

  goal {
    background: black;

    h3 { 
      color: $color1
    }
    
    slider {
    
      input.amount {
        width: 100%;
      }
    }
  }
}

section {
  background: $color3;
  border-radius: 5px;
}
